h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC' !important;
    max-width: none;
}

h1 {
    font-size: 8vh !important;
}

h3 {
    font-size: 3vh !important;
}

.heading-container {
    text-align: center;
}

p, ol, li {
    font-family: "Mulish";
}

ol, li {
    font-style: oblique ;
}

.image-container, .article-hero-image {
    border-radius: 10px !important;
}

.article-hero-image {
  position: sticky;
}

.aside-container {
  position: fixed;
  right: 90vw;
}

.post-content {
  padding: 60px 0 35px;
}

p img {
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.2),
    0 18px 36px -18px rgba(0, 0, 0, 0.22);
          box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.2),
    0 18px 36px -18px rgba(0, 0, 0, 0.22);
    max-width: 100%;
}

blockquote p {
  font-family: 'Amatic SC';
  text-align: center;
}

.logo {
  width: 130px;
}

.footer-next-heading {
  display: none;
}
