<Section class="section" relative id="Articles__Hero">
    <div class="heading-container"  >
        <h1 class="article-hero-heading">{{ .Page.Params.hero.heading }}</h1>
        <h3 class="hero-subheading">{{ .Page.Params.hero.subheading }}</h3>
    </div>
    <div class="subheading-container">
        {{ partial "bio.html" . }}
        <div class="grid-controls-container">
            <button id="btnGrid" class="grid-button">
                {{ partial "icons/ui/tiles.html" . }}
            </button>
            <button id="btnRows" class="grid-button">
                {{ partial "icons/ui/rows.html" . }}
            </button>
        </div>
    </div>
</Section>

{{ $script := resources.Get "js/toggleLayout.js" }}
<script src="{{ $script.RelPermalink }}"></script>